.edit {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: rgb(56, 189, 255);
  height: 100vh;
  width: 100vw;
  color: white;
  font-family: "Courier New", Courier, monospace;
  background-image: linear-gradient(
    to right,
    rgb(56, 189, 255),
    rgb(240, 53, 7)
  );
}

.edit-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  border: 2px solid white;
  border-radius: 10px;
  padding: 20px;
  margin-top: 50px;
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.description {
  margin-top: 30px;
}

.description input[type="text"] {
  font-size: 1.2rem;
  padding: 10px;
  border: 2px solid white;
  border-radius: 10px;
}

.description input[type="text"]:focus {
  outline: none;
  box-shadow: 0 0 5px white;
}

.mat-hint {
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.mat-hint button {
  background-color: white;
  border: none;
  border-radius: 50%;
  padding: 10px;
  cursor: pointer;
  box-shadow: 0 0 5px rgb(255, 255, 255, 0.5);
}

.mat-hint button:hover {
  background-color: rgb(240, 53, 7);
  box-shadow: 0 0 10px rgb(255, 255, 255, 0.5);
}
